{% extends 'base.html' %}
{% block title %}Ссылка для восстановления пароля отправлена вам на почту{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Ссылка для восстановления пароля отправлена вам на почту</div>
            <div class="card-body">
                <p>роверьте почту, вам должно прийти письмо со ссылкой для восстановления пароля</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}