{% extends 'base.html' %}
{% block title %} Задачи {% endblock %}
{% block content %}
    <div class="container" href="{% url 'posts:group_list' group.slug %}">
        <h1>{{ group.title }}</h1>
            <p>
                {{ group.description|linebreaksbr }}
            </p>
                {% for post in page_obj %}
                    {% include 'posts/includes/site_card.html' %}
                    {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}
                    {% include 'posts/includes/paginator.html' %}
    </div>
{% endblock %}